<div data--="band_title" {{I_o.band( 'data-skin' )}}>
  <svg width="2.2em" height="2.2em" class="svg_icon_hi"
       stroke="var(--c_icon)" stroke-width="2px" stroke-linecap="round" stroke-linejoin="round" fill="none">
    <use xlink:href="#logo" class="use_icon"></use>
  </svg>
</div>
