<aside data--="comment_header" title="comment">
  <svg width="2.2em" height="2.2em" data--="comment_visibility" aria-label="toggle comments"
    class="svg_icon_hi"
    stroke="var(--c_icon)" stroke-width="2px" stroke-linecap="round" stroke-linejoin="round" fill="none">
    <use xlink:href="#pencil" class="use_icon"></use>
  </svg>
{% include "parts/body/_gh_issue_.njk" %}
</aside>
