{% set _url = U_o.GIT_ISSUES_s + gh_issue_n %}
<div data--="gh_issue" class="retract">
  <h2 data--="gh_issue_title">Page comments</h2>
  <p><a href="{{ _url }}" target="_blank">Read || Add</a></p>
</div>
