<aside data--="perf_header" title="performance report">
  <svg width="2.2em" height="2.2em" data--="perf_visibility" aria-label="toggle performance table"
    class="svg_icon_hi"
    stroke="var(--c_icon)" stroke-width="2px" stroke-linecap="round" stroke-linejoin="round" fill="none">
    <use xlink:href="#clock" class="use_icon"></use>
  </svg>
  <div data--="performance" class="retract"></div>
</aside>
