<script src="{{ U_o.url_s }}assets/scripts/js/lib.min.js"></script>
<div data--="vars" hidden>
  <var id="note">DOM_o.enableScript__v( 'note' )</var>
  <var id="menu">DOM_o.enableScript__v( 'menu' )</var>
</div>
