/**
 *  __<br/>__
 * line: <u></u>
 *  __Title of the note__
 *  *Bold text*
 */
[data--^="note_"]
{
  --font_body:   90%;
  --font_sup:    60%;
  --font_strong: 120%;

  text-decoration: none;
}

.note_open img
{
  position: relative;
  width: 100%;  /* can be overriden by inline style */
  object-fit: scale-down;
  object-position: left top;
}

[data--="note_content"]
{
  overflow: hidden;
  break-before: avoid;
  break-inside: avoid;
  break-after: avoid;
  width: 0;
  height: 0;
  pointer-events: none;
}

[data--^="note_"] > sup
{
   counter-increment: var(--count_txt);
   margin-left: var(--PAD_1);
   padding: var(--PAD_1);
   border-radius: 25%;
   vertical-align: middle;
   font-size: var(--font_sup);
}

[data--="note_img"] > sup
{
  border-bottom: var(--BORDER_1) solid var(--c_prim_hi);
}
[data--^="note_"] > sup::after
{
  content: counter( var(--count_txt) );
}

[data--="note_content"] u    /* horizontal line */
{
  /*display: inline-block;*/
  border-top: .1rem solid var(--c_prim_tr);
}

[data--="note_content"] strong    /* title */
{
  /*display: inline-block;*/
  margin-top: var(--PAD_4);
  font-size: var(--font_strong);
  font-weight: 900;
  font-style: normal;
}

[data--="note_content"] em    /* emphasis */
{
  font-weight: 900;
  font-style: normal;
}

[data--="note_content"] a  /* link */
{
  text-decoration: none;
  pointer-events: auto;
}

[data--="note_content"] cite    /* citation */
{
  padding-left: var(--PAD_4);
}
[data--="note_content"] cite::before
{
  content: '\00ab';
}
[data--="note_content"] cite::after
{
  content: '\00bb';
}

.note_open    /* after [data--=note_content] */
{
  padding: var(--PAD_1); /*var(--PAD_2);*/
  width: auto;
  height: auto;
  border-left: var(--PAD_2) solid var(--c_back_op);
  transition: all 0.25s ease;
}
[data--="note_img"] .note_open
{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  left: calc( var(--PAD_8) * -1 );  /* div[data-slot] padding compensation */
  margin:  0;
  border-left: none;
  background: transparent;
}

.note_link_a
{
  --button_n: 1;
  --button_dim: 1.5rem;

  z-index: 1;  /* see MENU_SHOW */
  display: flex; /*flex-direction: row;*/
  justify-content: space-between;
  position: relative;
  top: 4rem;
  margin-left: 1rem;
  width: calc( var(--BODY_WIDTH) * .5 );
  height: calc( var(--button_dim) * 2 );
  font-size: calc( var(--button_dim) * .6 );
  line-height: 1;
}

.note_link
{
  display: grid; place-items: center;
  width:  var(--button_dim);
  height: var(--button_dim);
  /* ............. */
  color:              hsla(var(--c_hue_d), var(--c_sat_mlo), var(--c_lum_lo), .5);
  background:         hsla(var(--c_hue_s), var(--c_sat_hi), var(--c_lum_hi),  .5);
  border: .2rem solid hsla(var(--c_hue_s), var(--c_sat_mlo), var(--c_lum_lo), .5);
  /* ............. */

  border-radius: 50%;
}
.note_link:hover
{
  cursor: pointer;
  filter: var(--BUTTON_HOVER);
}

.note_link::before,
.note_link::after,
[src^="data:image/gif;base64,R0"]
{
  display: none;
}
