.unseen
{
  position: absolute;
  clip-path: inset(0px 0px);
  width:  1px;
  height: 0;
  overflow: hidden;
  border: none;
  white-space: nowrap;
}


.retract
{
  width: 0;
  height: 0;
  transform-origin: top left;
  transform: scaleY( 0 );
}


/*
.fade
{
  opacity: 0;
}
.fade_in
{
  opacity: 1;
  transition: .5s ease-in;
}
*/