<link rel="manifest" href="{{ U_o.url_s }}assets/site.webmanifest">
<link rel="icon" href="favicon.svg">
<link rel="mask-icon" href="mask-icon.svg" color="#000000">
<link rel="apple-touch-icon" sizes="180x180" href="{{ U_o.url_s }}assets/media/apple-touch-icon.png">
<meta name="theme-color" content="#ffffff">
