/*
Accept-Charset: utf-8
Expires: {{ F_o.till__s( 60 ) }}
Content-Security-Policy: frame-ancestors 'self';base-uri {{ U_o.url_s }};
X-Frame-Options: SAMEORIGIN
X-Content-Type-Options: nosniff
Referrer-Policy: same-origin
Feature-Policy: fullscreen 'self';midi 'self';notifications 'self';push 'self';sync-xhr 'self';microphone 'self';camera 'self';magnetometer 'self';gyroscope 'self';speaker 'self';vibrate 'self';
Timing-Allow-Origin: "{{ U_o.url_s }}"