{% set _title = title_s or metadata.title %}

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ _title }}</title>
<meta property="og:title" content="{{ _title }}"/>
<meta property="og:type" content="blog" />