{#<head>#}
{% include "parts/head/_title_.njk" %}
{% include "parts/head/_site_url_.njk" %}
{% include "parts/head/_seo_.njk" %}
{% include "parts/head/_description_.njk" %}
{% include "parts/head/_favicon_.njk" %}
{% include "parts/head/_inline_style_.njk" %}
{% include "parts/head/_link_lib_.njk" %}
{#</head>#}
