{
  "name":"{{ A_o.ID_s }}",
  "short_name":"{{ A_o.ID_s }}",
  "start_url": "/",
  "scope": "/",
  "description": "{{ A_o.description_o.DESCRIPT_s }}",
  "icons": [{ "src": "google-touch-icon.png", "sizes": "512x512" }],
  "theme_color":"#064ec1",
  "background_color":"#ffffff",
  "display":"standalone"
}
